@charset "utf-8";
*{
    margin: 0;
}
#seguros{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.safe_list{
    justify-content: center;
    list-style-type:disc ;
    padding-left:1.5em;
    margin-left: 1.8em;

}
.safe {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 390px;
    background: var(--cor2);
    margin: 1em;
    padding: 2em;
    border-radius: 20px;
}
.title__security_banner{
    font: normal bold 30px var(--font);
    color: var(--cor1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: .5em;
}
.security__item {
    font: normal 500 18px var(--font1);
    color:var(--cor0);
    padding-bottom: .8em;
    text-align: left;
}
.position_button{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom:2em ;
}
.money_safe{
    font: normal 600 28px var(--font1);
    color: green;
    text-decoration: none;
    background: var(--cor1);
    padding: 1em .5em;
    border-radius: 20px 20px;
}

.money_safe:hover {
    background-color: rgb(128, 109, 109);
    color: greenyellow;
}

footer{
    width:100%;
    position: fixed;
    bottom: 0;
}
@media screen and (max-width:800px){

#seguros{
    display: block;
    width:370px ;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: space-between;
}
.safe {
    width: 70%;
    margin: 10px auto;
    height: 500px;
    background: var(--cor2);
    margin-bottom: 30px;
    padding: 2em;
    border-radius: 20px;
}
.safe_list{
    justify-content: left;
    list-style-type:disc ;
    padding-left:.5em;
 

}
.title__security_banner{
    font: normal bold 30px var(--font);
    color: var(--cor1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: .5em;
}
.security__item {
    font: normal 500 18px var(--font1);
    color:var(--cor0);
    padding-bottom: .5em;
    text-align: left;
}
.position_button{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom:2em ;
}

}